@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@font-face {
  font-family: "Gothic-Century";
  src: url(../public/fonts/GOTHIC.TTF);
}
@font-face {
  font-family: "Gothic-Century-Bold";
  src: url(../public/fonts/GOTHICB.TTF);
}
@font-face {
  font-family: "Gothic-Century-Italic";
  src: url(../public/fonts/GOTHICI.TTF);
}
@font-face {
  font-family: "Gothic-Century-Bold-Italic";
  src: url(../public/fonts/GOTHICBI.TTF);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gothic-Century", sans-serif;
  overflow-x: hidden;
  color: #050505;
  background-color: #ffffff;
}

.header {
  width: 100%;
  max-width: 120rem;
  height: 1rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 90;
}

.header-nav {
  width: 100vw;
  height: calc(100vh + 1rem);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
}
@media only screen and (min-width: 1280px) {
  .header-nav {
    height: 8rem;
    background-color: transparent;
  }
}
.header-nav::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.95;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .header-nav::before {
    display: none;
  }
}
.header-nav .header-ul {
  width: 18rem;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width: 1280px) {
  .header-nav .header-ul {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.header-nav .header-ul .header-li {
  width: auto;
  height: auto;
  list-style-type: none;
  margin-top: 3rem;
  text-align: left;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media only screen and (min-width: 1280px) {
  .header-nav .header-ul .header-li {
    margin-top: 0;
  }
  .header-nav .header-ul .header-li:not(:last-child) {
    margin-right: 3rem;
  }
}
.header-nav .header-ul .header-li:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
@media only screen and (min-width: 1280px) {
  .header-nav .header-ul .header-li:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.header-nav .header-ul .header-li .header-links {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.7rem;
  font-size: 2.5rem;
  text-shadow: 0.3rem 0.3rem 0.4rem #050505;
}
@media only screen and (min-width: 1280px) {
  .header-nav .header-ul .header-li .header-links {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
  }
}
.header-nav .header-ul .header-li .header-links:hover {
  color: rgb(0, 141, 85);
}

.showNav {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.navBackground {
  background-color: #050505;
  opacity: 0.8;
}

.hero-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-container-top {
  width: 100%;
  height: 65%;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .hero-container-top {
    height: 60%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-top {
    height: 65%;
  }
}
.hero-container-top::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #050505, rgba(5, 5, 5, 0.7882352941));
  z-index: -1;
}
.hero-container-top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../public/images/JibaritoTimeNight.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}
.hero-container-top .hero-container-top-content {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-container-top .hero-container-top-content .hero-container-top-content-title {
  width: 80%;
  height: auto;
  margin-top: 5rem;
  font-size: 5rem;
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-title {
    font-size: 9rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-title {
    font-size: 13rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-subtitle {
  width: 80%;
  height: auto;
  margin-top: 1rem;
  font-size: 1.75rem;
  letter-spacing: 0.4rem;
  color: #ffffff;
  word-spacing: 0.4rem;
}
@media only screen and (min-width: 768px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-subtitle {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-subtitle {
    margin-top: 4rem;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-subtitle {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
@media only screen and (min-width: 1280px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons {
    flex-direction: row;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons {
    margin-top: 4rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn {
  width: 17rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn {
    width: 20rem;
    height: 4rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(1) {
  border: 0.1rem solid #ffffff;
}
@media only screen and (min-width: 1280px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(1) {
    margin-right: 2rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(1):hover {
  background-color: #ffffff;
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(2) {
  margin-top: 1rem;
  border: 0.1rem solid rgb(0, 141, 85);
  background-color: rgb(0, 141, 85);
}
@media only screen and (min-width: 1280px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(2) {
    margin-top: 0;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn:nth-of-type(2):hover {
  background-color: rgb(21, 102, 21);
  border: 0.1rem solid rgb(21, 102, 21);
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn .cta-btn-link {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn .cta-btn-link {
    font-size: 2rem;
  }
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn .cta-btn-link:hover {
  font-family: "Gothic-Century-Bold", sans-serif;
}
.hero-container-top .hero-container-top-content .hero-container-top-content-buttons .cta-btn .order-link:hover {
  color: #050505;
}

.hero-container-bottom {
  width: 100%;
  height: 35%;
  position: relative;
  background-color: #ffffff;
}
@media only screen and (min-width: 1024px) {
  .hero-container-bottom {
    height: 40%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom {
    height: 35%;
  }
}
.hero-container-bottom .hero-container-bottom-content {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider {
  width: 70%;
  height: 85%;
  margin: 1rem auto 0;
  position: relative;
  overflow: hidden;
  border: 0.15rem dotted #050505;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider {
    width: 60%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    border: none;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid white;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes {
    width: 33.3333333333%;
    position: relative;
    margin: 0 2rem;
    border: 0.15rem dotted #050505;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-title {
  width: 100%;
  height: auto;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-family: "Gothic-Century-Bold", sans-serif;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-title {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-title {
    font-size: 2rem;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-info {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-info p {
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-info p {
    margin-top: 2rem;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-info p {
    font-size: 1.5rem;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box {
    margin-top: 3rem;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box .hero-bottom-content-info-button {
  width: 100%;
  height: 100%;
  padding: 0.75rem 2rem;
  font-size: 1.15rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  border: 0.1rem solid rgb(0, 141, 85);
  color: rgb(0, 141, 85);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box .hero-bottom-content-info-button {
    font-size: 1.25rem;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-slider .hero-container-bottom-content-boxes .hero-bottom-content-info-button-box .hero-bottom-content-info-button:hover {
  background-color: rgb(0, 141, 85);
  color: #ffffff;
  font-family: "Gothic-Century-Bold", sans-serif;
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev,
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 1280px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev,
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next {
    display: none;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev i,
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next i {
  font-size: 3rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev i,
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next i {
    font-size: 4rem;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev i:hover,
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next i:hover {
  color: rgb(0, 141, 85);
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev {
  left: 3%;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-prev {
    left: 10%;
  }
}
.hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next {
  right: 3%;
}
@media only screen and (min-width: 768px) {
  .hero-container-bottom .hero-container-bottom-content .hero-container-bottom-content-next {
    right: 10%;
  }
}

.top-icons-container {
  width: 100%;
  max-width: 120rem;
  height: 1rem;
  margin: 0 auto;
  position: relative;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 100;
}
@media only screen and (min-width: 1280px) {
  .top-icons-container {
    display: none;
  }
}
.top-icons-container .burger-box {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: calc(0% + 1rem);
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.top-icons-container .burger-box .burger-box-container {
  width: 4rem;
  height: 2rem;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.top-icons-container .burger-box .burger-box-container .top,
.top-icons-container .burger-box .burger-box-container .middle,
.top-icons-container .burger-box .burger-box-container .bottom {
  height: 0.3rem;
  position: relative;
  position: absolute;
  background-color: #929191;
  border: 0.1rem solid #929191;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.top-icons-container .burger-box .burger-box-container .top,
.top-icons-container .burger-box .burger-box-container .bottom {
  width: 100%;
}
.top-icons-container .burger-box .burger-box-container .top {
  top: 0;
}
.top-icons-container .burger-box .burger-box-container .middle {
  width: 70%;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.top-icons-container .burger-box .burger-box-container .bottom {
  bottom: 0;
}
.top-icons-container .burger-box .burger-box-container .removeTopBottom {
  transform: translateX(200vw);
  -webkit-transform: translateX(200vw);
  -moz-transform: translateX(200vw);
  -ms-transform: translateX(200vw);
  -o-transform: translateX(200vw);
}
.top-icons-container .burger-box .burger-box-container .rotateMiddleOne {
  width: 100%;
  background-color: #ffffff;
  border: 0.1rem solid #ffffff;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.top-icons-container .burger-box .burger-box-container .rotateMiddleTwo {
  width: 100%;
  background-color: #ffffff;
  border: 0.1rem solid #ffffff;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

.main {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .main {
    height: 25rem;
  }
}
.main h1,
.main p {
  text-transform: capitalize;
}
.main h1 {
  color: rgb(0, 141, 85);
  font-size: 2.4rem;
  font-family: "Gothic-Century-Bold", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.2rem #929191;
}
@media only screen and (min-width: 768px) {
  .main h1 {
    font-size: 3rem;
  }
}
.main p {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .main p {
    font-size: 2rem;
  }
}

.sections {
  width: 100%;
  height: auto;
}

.jibarito-ad-section {
  height: 40rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .jibarito-ad-section {
    height: 50rem;
  }
}
@media only screen and (min-width: 1280px) {
  .jibarito-ad-section {
    height: 60rem;
  }
}
@media only screen and (min-width: 2560px) {
  .jibarito-ad-section {
    height: 75rem;
  }
}
.jibarito-ad-section .bg-shape {
  width: 100%;
  height: 55%;
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.jibarito-ad-section .bg-shape::before {
  content: "";
  width: 100%;
  height: 50.5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 141, 85);
  clip-path: polygon(100% 40%, 0 100%, 100% 100%);
  -webkit-clip-path: polygon(100% 40%, 0 100%, 100% 100%);
  z-index: -1;
}
.jibarito-ad-section .bg-shape::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 141, 85);
  z-index: -1;
}
.jibarito-ad-section .jibarito-ad-title {
  padding-top: 2rem;
  font-size: 3.5rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .jibarito-ad-section .jibarito-ad-title {
    padding-top: 4rem;
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .jibarito-ad-section .jibarito-ad-title {
    font-size: 6rem;
  }
}
.jibarito-ad-section .jibarito-ad-content {
  width: 32rem;
  height: 70%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .jibarito-ad-section .jibarito-ad-content {
    width: 45rem;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
@media only screen and (min-width: 1280px) {
  .jibarito-ad-section .jibarito-ad-content {
    width: 45rem;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}
@media only screen and (min-width: 2560px) {
  .jibarito-ad-section .jibarito-ad-content {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
.jibarito-ad-section .jibarito-ad-content .jibarito-ad-content-info {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  text-shadow: 0.2rem 0.2rem 0.6rem #050505;
}
.jibarito-ad-section .jibarito-ad-content .jibarito-ad-content-info span {
  margin-bottom: -1.5rem;
  font-size: 6rem;
  font-family: "Gothic-Century-Bold", sans-serif;
  z-index: 2;
}
.jibarito-ad-section .jibarito-ad-content .jibarito-ad-content-info span:last-child {
  font-size: 7rem;
}
.jibarito-ad-section .jibarito-ad-content .jibarito-ad-content-img {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem #050505);
  -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem #050505);
}
.jibarito-ad-section .jibarito-ad-content .jibarito-ad-content-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.jibarito-ad-section p {
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .jibarito-ad-section p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .jibarito-ad-section p {
    margin-top: 1rem;
  }
}

.gluten-free-section {
  height: auto;
  margin: 1rem auto 4rem;
}
.gluten-free-section .gluten-image-box {
  width: 80%;
  height: 80%;
  margin: 5rem auto 0;
}
.gluten-free-section .gluten-image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gluten-free-section .gluten-content-box {
  width: 80%;
  height: auto;
  margin: 4rem auto 0;
}
.gluten-free-section .gluten-content-box p {
  margin-top: 2rem;
  text-indent: 2rem;
  text-transform: initial;
  text-align: justify;
  font-size: 1.25rem;
}
.gluten-free-section .gluten-list-box {
  width: 100%;
  height: auto;
  margin: 4rem auto 0;
}
.gluten-free-section .gluten-list-box .gluten-list-title {
  font-size: 2rem;
  font-family: "Gothic-Century-Bold", sans-serif;
  text-transform: capitalize;
}
.gluten-free-section .gluten-list-box .gluten-list-ul {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.gluten-free-section .gluten-list-box .gluten-list-ul .gluten-list-li {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gluten-free-section .gluten-list-box .gluten-list-ul .gluten-list-li .gluten-list-li-image-box {
  width: 5%;
  height: 100%;
  margin-right: 1rem;
}
.gluten-free-section .gluten-list-box .gluten-list-ul .gluten-list-li .gluten-list-li-image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gluten-free-section .gluten-list-box .gluten-list-ul .gluten-list-li .gluten-list-li-items {
  width: 75%;
  height: auto;
  font-size: 1.15rem;
  text-align: left;
  text-transform: capitalize;
}

.delivery-section {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .delivery-section {
    height: 40rem;
  }
}
.delivery-section .delivery-title,
.delivery-section .delivery-subtitle {
  font-family: "Gothic-Century-Bold", sans-serif;
  text-transform: capitalize;
}
.delivery-section .delivery-title {
  margin-top: 4rem;
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  .delivery-section .delivery-title {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .delivery-section .delivery-title {
    font-size: 5rem;
  }
}
.delivery-section .delivery-subtitle {
  margin-top: 2rem;
  font-size: 1.75rem;
}
@media only screen and (min-width: 1280px) {
  .delivery-section .delivery-subtitle {
    font-size: 2.5rem;
  }
}
.delivery-section .delivery-content-box {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-section .delivery-content-box img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  width: 10rem;
  height: auto;
}
@media only screen and (min-width: 1280px) {
  .delivery-section .delivery-content-box img {
    width: 18rem;
    padding: 2rem;
  }
}

.safety-section {
  height: 35rem;
  padding: 0 2.5rem;
  color: #ffffff;
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.safety-section .safety-title {
  font-size: 2rem;
  font-family: "Gothic-Century-Bold-Italic", sans-serif;
}
@media only screen and (min-width: 1280px) {
  .safety-section .safety-title {
    font-size: 3rem;
  }
}
.safety-section p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-family: "Gothic-Century-Italic", sans-serif;
}
@media only screen and (min-width: 1280px) {
  .safety-section p {
    padding: 0 4rem;
    font-size: 1.5rem;
  }
}
.safety-section p:last-child {
  font-family: "Gothic-Century-Bold-Italic", sans-serif;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1280px) {
  .safety-section p:last-child {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
