.safety-section {
  height: 35rem;
  padding: 0 2.5rem;
  color: $color-lite;
  background-color: $color-dark;
  @include flex-center-col;
  z-index: 15;
  @include deep-shadow;

  .safety-title {
    font-size: 2rem;
    font-family: $quinary-font;

    @include desktop {
      & {
        font-size: 3rem;
      }
    }
  }

  p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-family: $tertiary-font;

    @include desktop {
      & {
        padding: 0 4rem;
        font-size: 1.5rem;
      }
    }

    &:last-child {
      font-family: $quinary-font;
      font-size: 1.5rem;

      @include desktop {
        & {
          font-size: 2rem;
        }
      }
    }
  }
}
