.delivery-section {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 11;
  @include deep-shadow;

  @include desktop {
    & {
      height: 40rem;
    }
  }

  .delivery-title,
  .delivery-subtitle {
    font-family: $secondary-font;
    text-transform: capitalize;
    @include text-shadowgray;
  }

  .delivery-title {
    margin-top: 4rem;
    font-size: 3rem;

    @include tabletPortrait {
      & {
        font-size: 4rem;
      }
    }

    @include desktop {
      & {
        font-size: 5rem;
      }
    }
  }

  .delivery-subtitle {
    margin-top: 2rem;
    font-size: 1.75rem;

    @include desktop {
      & {
        font-size: 2.5rem;
      }
    }
  }

  .delivery-content-box {
    width: 100%;
    height: auto;
    margin-top: 5rem;
    @include flex-center;

    img {
      @include keep-it-hundo;
      padding: 1rem;
      width: 10rem;
      height: auto;
      @include transit3;
      filter: drop-shadow(0.2rem 0.2rem 0.2rem $color-gray-lite);
      -webkit-filter: drop-shadow(0.2rem 0.2rem 0.2rem $color-gray-lite);

      @include desktop {
        & {
          width: 18rem;
          padding: 2rem;
        }
      }

      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }
}
