.gluten-free-section {
  height: auto;
  max-width: 120rem;
  margin: 1rem auto 4rem;

  .gluten-image-box {
    width: 80%;
    height: 80%;
    margin: 5rem auto 0;

    @include tabletPortrait {
      & {
        width: 50%;
      }
    }

    @include tabletLandscape {
      & {
        max-width: 40rem;
      }
    }

    img {
      @include keep-it-hundo;
      object-fit: contain;
    }
  }

  .gluten-content-box {
    width: 80%;
    height: auto;
    margin: 4rem auto 0;

    @include tabletPortrait {
      & {
        margin: 6rem auto 0;
      }
    }

    p {
      margin-top: 2rem;
      text-indent: 2rem;
      text-transform: initial;
      text-align: justify;
      font-size: 1.25rem;

      @include tabletPortrait {
        & {
          font-size: 1.5rem;
        }
      }
    }
  }

  .gluten-list-box {
    width: 100%;
    height: auto;
    margin: 4rem auto 0;

    .gluten-list-title {
      font-size: 2rem;
      font-family: $secondary-font;
      text-transform: capitalize;
    }

    .gluten-list-ul {
      width: 100%;
      height: auto;
      margin-top: 4rem;

      @include tabletPortrait {
        & {
          padding-left: 2rem;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap: 1rem;
        }
      }

      @include tabletLandscape {
        & {
          width: 80%;
          margin: 4rem auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
          grid-gap: 1rem;
        }
      }

      .gluten-list-li {
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
        list-style-type: none;
        @include flex-center;

        .gluten-list-li-image-box {
          width: 1.8rem;
          height: auto;
          margin-right: 1rem;

          img {
            @include keep-it-hundo;
            object-fit: contain;
          }
        }

        .gluten-list-li-items {
          width: 75%;
          height: auto;
          font-size: 1.15rem;
          text-align: left;
          text-transform: capitalize;

          @include tabletLandscape {
            & {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
