.about-section {
  height: 65rem;
  @include flex-center-col;
  z-index: 6;
  @include deep-shadow;

  @include tabletPortrait {
    & {
      height: 85rem;
    }
  }

  @include desktop {
    & {
      height: 100rem;
    }
  }

  .about-title {
    width: 80%;
    max-width: 130rem;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: left;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-family: $secondary-font;
    -webkit-text-stroke: 0.15rem $color-dark;
    -webkit-text-fill-color: transparent;

    @include desktop {
      & {
        font-size: 6rem;
      }
    }

    &::after {
      content: "";
      @include keep-it-hundo;
      position: absolute;
      left: 50%;
      bottom: -5%;
      @include transformX;
      border-bottom: 0.2rem dotted $color-dark;
    }
  }

  .about-subtitle {
    margin-top: 5rem;
    font-size: 2rem;
    text-transform: initial;
    font-family: $secondary-font;
    @include text-shadowgray;

    @include desktop {
      & {
        font-size: 3rem;
      }
    }
  }

  p {
    max-width: 60rem;
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 1.25rem;
    text-transform: initial;
    text-align: justify;
    text-indent: 1rem;

    @include desktop {
      & {
        font-size: 1.75rem;
      }
    }
  }

  .about-image-box {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    @include deep-shadow;

    @include tabletPortrait {
      & {
        width: 60%;
        margin-top: 4rem;
      }
    }

    @include desktop {
      & {
        max-width: 60rem;
      }
    }

    img {
      @include keep-it-hundo;
      object-fit: cover;
    }
  }
}
