// Google Fonts - Kaushan Font

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@font-face {
  font-family: "Gothic-Century";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "Gothic-Century-Bold";
  src: url(../public/fonts/GOTHICB.TTF);
}

@font-face {
  font-family: "Gothic-Century-Italic";
  src: url(../public/fonts/GOTHICI.TTF);
}

@font-face {
  font-family: "Gothic-Century-Bold-Italic";
  src: url(../public/fonts/GOTHICBI.TTF);
}
